

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, div
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  direction: rtl;
  font-family: Arial;
}

body
{
  line-height: 1;
}

header, footer, div
{
  display: block;
  position: relative;
}

  /* STYLES */

  div.shell
  {
    display: block;
    width: 670px;
    margin: 0 auto;
  }

/* header */

header
{
  position: relative;
  z-index: 2;
  margin: 0 auto;
  max-width: 600px;
  top: 38px;
}

  header span.ribbon-inner
  {
    position: relative;
    display: block;
    background-color: #cd596b;
    border: 4px solid #7c334f;
    padding: 2px;
    z-index: 1;
  }

    header span.ribbon-inner > span
    {
      font-family: arial;
      display: block;
      background-color: #7c334f;
      font-size: 2.5em;
      font-weight: 800;
      font-style: normal;
      text-transform: uppercase;
      color: #ece4d8;
      text-align: center;
      line-height: 1;
      padding: 14px 20px 0;
    }


  header span.left-tail, header span.right-tail
  {
    position: relative;
    display: block;
    width: 56px;
    height: 105px;
    background: transparent url(../images/ribbon-tail-sprite.png) 0 0 no-repeat;
    position: absolute;
    bottom: -37px;
    z-index: 0;
  }

  header span.left-tail
  {
    background-position: 0 0;
    left: -31px;
  }

  header span.right-tail
  {
    background-position: -56px 0;
    right: -31px;
  }

div#downloads,
div#no-downloads
{
  position: relative;
  display: block;
  height: 197px;
  width: 550px;
  padding-bottom: 150px;
  margin: -80px auto -150px;
  z-index: 1;
  background: transparent url(../images/bg-ramp.jpg) center 171px no-repeat;
}

  div#no-downloads span.inner
  {
    display: block;
    position: relative;
    height: 197px;
    width: 550px;
    background: transparent url(../images/download-sprite.png) 0 0 no-repeat;
  }

  div#downloads a
  {
    display: block;
    position: relative;
    height: 67px;
    width: 275px;
    padding-top: 130px;
    background: transparent url(../images/download-sprite.png) 0 0 no-repeat;
    text-align: center;
    line-height: 1;
    color: #fff;
    font-family: 'Open Sans', Myriad, Calibri, sans-serif;
    font-weight: 800;
    font-size: 1.3em;
  }

    div#downloads a:hover
    {
      text-decoration: none;
    }

    div#downloads a em
    {
      font: bold italic 12px/1 Georgia, Times, “Times New Roman”, serif;
      color: #83b7da;
      display: block;
    }

    div#downloads a.zip
    {
      float: left;
      background-position: 0 0;
    }

    div#downloads a.tgz
    {
      float: right;
      background-position: -275px 0;
    }

    div#downloads a.zip:hover
    {
      background-position: 0 -197px;
    }

    div#downloads a.tgz:hover
    {
      background-position: -275px -197px;
    }

span.banner-fix
{
  background: transparent url(../images/download-fallback-bg.png) center top no-repeat;
  display: block;
  height: 19px;
  position: absolute;
  width: 670px;
  top: 19px;
}

div#main_content
{
  z-index: 2;
  padding: 20px 82px 0;
  min-height: 185px;
}

/* footer */

footer
{
  background: transparent url(../images/footer-ramp.jpg) center -1px no-repeat;
  padding-top: 104px;
  margin: -94px auto 40px;
  max-width: 560px;
  text-align: center;
}

  footer span.ribbon-outer
  {
    display: block;
    position: relative;
    border-bottom: 2px solid #bdb6ad;
  }

  footer span.ribbon-inner
  {
    position: relative;
    display: block;
    background-color: #cd596b;
    border: 2px solid #7c334f;
    padding: 1px;
    z-index: 1;
  }

  footer p
  {
    font-family: 'Open Sans', Myriad, Calibri, sans-serif;
    font-weight: bold;
    font-size: .8em;
    color: #8b786f;
  }

  footer a
  {
    color: #cd596b;
  }

  footer span.ribbon-inner p
  {
    background-color: #7c334f;
    margin: 0;
    color: #e69b95;
    font: bold italic 12px/1 Georgia, Times, “Times New Roman”, serif;
    padding-bottom: 4px;
  }

  footer span.ribbon-inner a
  {
    position: relative;
    bottom: -1px;
    color: #7eb0d2;
    font-family: 'Open Sans', Myriad, Calibri, sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 800;
    font-size: 1.2em;
  }

    footer span.ribbon-inner a:hover
    {
      color: #7eb0d2;
    }

  footer span.left-tail, footer span.right-tail
  {
    position: relative;
    display: block;
    width: 18px;
    height: 29px;
    background: transparent url(../images/small-ribbon-tail-sprite.png) 0 0 no-repeat;
    position: absolute;
    bottom: 5px;
    z-index: 0;
  }

  footer span.left-tail
  {
    background-position: 0 0;
    left: -11px;
  }

  footer span.right-tail
  {
    background-position: -18px 0;
    right: -11px;
  }

  footer span.octocat
  {
    background: transparent url(../images/octocat.png) 0 0 no-repeat;
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
  }

/* content */

body
{
  background: #ece4d8;
  font: normal normal 15px/1.5 Georgia, Palatino,” Palatino Linotype”, Times, “Times New Roman”, serif;
  color: #544943;
  -webkit-font-smoothing: antialiased;
}

a, a:hover
{
  color: #417090;
}

a
{
  text-decoration: none;
}

  a:hover
  {
    text-decoration: underline;
  }

p
{
  margin: .7em 0;
}

em
{
  font-style: italic;
}

img
{
  -webkit-box-shadow: 0px 2px 0px #bdb6ad;
  -moz-box-shadow: 0px 2px 0px #bdb6ad;
  box-shadow: 0px 2px 0px #bdb6ad;
  border: 2px solid #fff6e9;
  max-width: 502px;
}


code
{
  background: #fff6e9;
  font: normal normal .8em/1.7 "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  padding: 0 5px 1px;
}

pre
{
  margin: 10px 0 20px;
  padding: .7em;
  background: #fff6e9;
  border-bottom: 2px solid #bdb6ad;
  font: normal normal .9em/1.7 "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  overflow: auto;
}

pre code
{
  padding: 0;
}




.header-level-1
{
  font-size: 1.85em;
  border-bottom: .2em double #d3ccc1;
  color: #7c334f;
  text-align: center;
  font-style: italic;
  margin: 1.1em 0 .38em;
  line-height: 1.2;
  padding-bottom: 10px;
  display: block;
}
